:root {
  --transition: .5s ease 0s;
  --max-width: 800px;
  --font-title: 'Nunito Sans', sans-serif; 
  --font-text: 'Open Sans', sans-serif; 
  --color-overlay: rgba(0, 0, 0, .6);
  --color-primary: orange;
  --shadow: 0 0 6px #0003;
  --hover-shadow: 0 0 6px #0006;
}