* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-text);
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: var(--font-title);
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}