/* Variables */
:root {
  --transition: .5s ease 0s;
  --max-width: 1440px;
  --font-title: 'Nunito Sans', sans-serif; 
  --font-text: 'Open Sans', sans-serif; 
  --color-overlay: rgba(0, 0, 0, .6);
  --color-primary: orange;
  --shadow: 0 0 6px #0003;
  --hover-shadow: 0 0 6px #0006;
}

/* reset */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-text);
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: var(--font-title);
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

/* Utils */
.max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Loader */
@keyframes spinner {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

.loader {
  align-items: center;
  background-color: var(--color-overlay);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all var(--transition);
  visibility: hidden;
  width: 100vw;
  z-index: 999999;
}

.loader.active {
  opacity: 1;
  visibility: visible;
}

.spinner {
  height: 54px;
  position: relative;
  width: 54px;
}

.spinner div {
  animation: spinner 1.2s cubic-bezier(.5,0,.5,1) infinite;
  border: 3px solid #fff;
  border-color: #fff transparent transparent transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 2.5rem;
  position: absolute;
  width: 2.5rem;
}

.spinner div:nth-child(1) {
  animation-delay: -.45s;
}

.spinner div:nth-child(2) {
  animation-delay: -.3s;
}

.spinner div:nth-child(3) {
  animation-delay: -.15s;
}

/* Main Header */
.main-header {
  align-items: center;
  background-color: var(--color-primary);
  box-shadow: var(--shadow);
  display: flex;
  height: 84px;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.main-header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-header__heading {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
}

.main-header__img {
  width: 2rem;
}

.book-heading {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}

.book-heading__title {
  flex-shrink: 0;
  font-size: 2rem;
  line-height: 1;
}

.book-heading__subtitle {
  flex-shrink: 0;
  font-size: 1.25rem;
  line-height: 1;
}

/* Navigation toggler */
.toggler-btn {
  background-color: #0000;
  border: 0;
  height: 1rem;
  padding: 0;
  width: 1.4rem;
}

.icon-burger {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.icon-burger__line {
  background-color: #000;
  height: .1rem;
  transition: all var(--transition);
  width: 100%;
}

.toggler-btn.open .icon-burger__line:nth-child(1) {
  transform: translateY(.5rem) rotate(-45deg);
}

.toggler-btn.open .icon-burger__line:nth-child(2) {
  opacity: 0;
}

.toggler-btn.open .icon-burger__line:nth-child(3) {
  transform: translateY(-.4rem) rotate(45deg);
}

/* Icon Close */

.icon-close {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.icon-close__line {
  background-color: #000;
  height: .1rem;
  transition: all var(--transition);
  width: 100%;
}

.icon-close__line:nth-child(1) {
  transform: translateY(.5rem) rotate(-45deg);
}

.icon-close__line:nth-child(2) {
  transform: translateY(-.4rem) rotate(45deg);
}

/* Main nav */
.main-nav {
  background-color: var(--color-overlay);
  display: flex;
  height: calc(100vh - 84px);
  justify-content: end;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 100%;
  transition: all var(--transition);
  width: 100%;
  z-index: 100;
}

.main-nav:not(.open) {
  opacity: 0;
  visibility: hidden;
}

.main-nav__content {
  background-color: var(--color-primary);
  display: flex;
  max-width: 450px;
  padding: 2rem;
  transition: all var(--transition);
  width: 100%;
}

.main-nav:not(.open) .main-nav__content {
  transform: translateX(100%);
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav-link {
  color: inherit;
  font-size: 2rem;
  text-align: left;
}

/* Main Content */
.main-content {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

/* Sections */
.section:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 2rem;
}

.section__title {
  color: #000;
  font-size: 2.25rem;
  line-height: 1;
}

.section__list {
  display: grid;
  gap: 2rem;
}

.section__list__item {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.section__btn {
  background-color: var(--color-primary);
  border-radius: .5rem;
  box-shadow: var(--shadow);
  color: #000;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  gap: .5rem;
  justify-content: center;
  padding: 2rem 1rem;
  transition: all var(--transition);
  width: 100%;
}

.section__btn:hover {
  box-shadow: var(--hover-shadow);
}

.section__btn__img {
  width: 2rem;
}

.section__label {
  font-size: 1.5rem;
  white-space: nowrap;
}

/* Dialog */
.dialog {
  border: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  padding: 2rem 1rem;
  position: fixed;
  width: 100%;
}

.dialog__header {
  align-items: center;
  display: flex;
  gap: .5rem;
  margin-bottom: 2rem;
}

.dialog__close {
  height: 1rem;
  transform: rotate(90deg);
  width: 1.4rem;
}

.dialog__heading {
  align-items: end;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: .5rem;
}

.dialog__heading__title {
  flex-shrink: 0;
  font-size: 1.8rem;
  line-height: 1;
}

.dialog__heading .book-heading {
  color: #595959;
  flex-shrink: 0;
  line-height: 1;
  white-space: nowrap;
}

.dialog__heading .book-heading__title {
  font-size: 1.125rem;
}

.dialog__heading .book-heading__subtitle {
  font-size: 1rem;
}

.dialog__content {
  align-items: center;
  display: flex;
  flex: 1;
}

/* Player */
.player {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 100%;
}

.player__canvas {
  height: 25%;
  width: 100%;
}

.player__track-wrapper {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: space-between;
  width: 100%;
}

.player__track {
  color: var(--color-primary);
  background-color: transparent;
  --thumb-height: 3rem;
  --track-height: 1rem;
  --track-color: #161515;
  --clip-edges: .125rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}
 
.player__track:active {
  cursor: grabbing;
}
 
 /* === WebKit specific styles === */
.player__track,
.player__track::-webkit-slider-runnable-track,
.player__track::-webkit-slider-thumb {
  -webkit-appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}
 
.player__track::-webkit-slider-runnable-track,
.player__track::-webkit-slider-thumb {
  position: relative;
}
 
.player__track::-webkit-slider-thumb {
  --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
  --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
  --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
  --clip-further: calc(100% + 1px);
  --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;
  width: var(--thumb-width, var(--thumb-height));
  background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% var(--track-height);
  background-color: currentColor;
  box-shadow: var(--box-fill);
  border-radius: var(--thumb-width, var(--thumb-height));
  clip-path: polygon(
    100% -1px,
    var(--clip-edges) -1px,
    0 var(--clip-top),
    -100vmax var(--clip-top),
    -100vmax var(--clip-bottom),
    0 var(--clip-bottom),
    var(--clip-edges) 100%,
    var(--clip-further) var(--clip-further)
  );
}
 
.player__track:hover::-webkit-slider-thumb {
  cursor: grab;
}
 
.player__track:active::-webkit-slider-thumb {
  cursor: grabbing;
}
 
.player__track::-webkit-slider-runnable-track {
  background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% var(--track-height);
}
 
.player__track:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}
 
 /* === Firefox specific styles === */
.player__track,
.player__track::-moz-range-track,
.player__track::-moz-range-thumb {
  appearance: none;
  height: var(--thumb-height);
}
 
.player__track::-moz-range-thumb {
  background: currentColor;
  border: 0;
  width: var(--thumb-width, var(--thumb-height));
  border-radius: var(--thumb-width, var(--thumb-height));
  cursor: grab;
}
 
.player__track:active::-moz-range-thumb {
  cursor: grabbing;
}
 
.player__track::-moz-range-track {
  width: 100%;
  background: var(--track-color);
}
 
.player__track::-moz-range-progress {
  appearance: none;
  background: currentColor;
  transition-delay: 30ms;
}
 
.player__track::-moz-range-track,
.player__track::-moz-range-progress {
  height: calc(var(--track-height) + 1px);
}
 
.player__track:disabled::-moz-range-thumb {
  cursor: not-allowed;
}

.player__controls {
  display: grid;
  gap: 3rem;
  grid-template-areas: 'back play forward';
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 400px;
  width: 100%;
}

.player__back {
  grid-area: back;
}

.player__play {
  grid-area: play;
}

.player__forward {
  grid-area: forward;
}

.player__btn__img {
  display: block;
}

.player__btn__img--forward {
  transform: scaleX(-100%);
}

.player__btn__img--pause {
  display: none;
}

.player__play.pause .player__btn__img--pause {
  display: block;
}

.player__play.pause .player__btn__img--play {
  display: none;
}

/* Accordions */
.accordion {
  display: grid;
  grid-template-rows: 1fr;
  margin-top: .5rem;
  transition: all var(--transition);
}

.accordion:not(.open) {
  grid-template-rows: 0fr;
  margin-top: 0;
  visibility: hidden;
}

.accordion__btn {
  align-items: center;
  display: flex;
  gap: .5rem;
  text-align: left;
  width: 100%;
}

.icon-arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  display: block;
  flex-shrink: 0;
  height: 1.125rem;
  margin-bottom: .5rem;
  margin-left: auto;
  margin-right: .5rem;
  position: relative;
  transform: rotate(45deg);
  transform-origin: 66% 66% 0px;
  transition: transform var(--transition);
  width: 1.125rem;
  z-index: -1;
}

.accordion__btn:not(.open) .icon-arrow {
  transform: rotate(-45deg);
}

.accordion__content {
  margin: 1rem 0;
  overflow: hidden;
}